log-system:
  name: server-system.log
  path: log
  json: false
  console: true
  file: true
  level: debug
  timeLayout: "2006-01-02T15:04:05.000Z"
  maxSize: 100
  maxTime: 0
  maxBackups: 0
  compress: false

log-crash:
  name: server-crash.log
  path: log
  json: false
  console: true
  file: true
  level: debug
  timeLayout: "2006-01-02T15:04:05.000Z"
  maxSize: 100
  maxTime: 0
  maxBackups: 0
  compress: false

pool:
  capacity: 0
  expire: 100ms
  preAlloc: false
  nonblocking: false
  maxBlocking: 0

metrics:
  port: 9101

redmo:
  majorURI: redisdb://127.0.0.1:6379/
  majorDebug: false
  minorURI: mongodb://127.0.0.1:27017/
  minorDBName: test

auth:
  ip:
  port: 9000

json:
  ip:
  port: 9001
  key: key-@@@@

proto:
  ip:
  port: 9002
  key: key-####

raven:
  ip:
  port: 9003
  key: key-####
