name: lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.22.x]
    name: ${{ matrix.os }} | go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - name: lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest
