name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
          os: [ubuntu-latest] # 由於要使用到docker來執行redis跟mongo, 所以只能測試linux了
          go: [1.19.x]
          proto: [3.x]
          redis: [6]
          mongo: ['6.0']
    name: ${{ matrix.os }} @ go ${{ matrix.go }} @ proto ${{ matrix.proto }} @ redis ${{ matrix.redis }} @ mongo ${{ matrix.mongo }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: setup go ${{ matrix.go }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
    - name: setup protoc
      uses: arduino/setup-protoc@v1
      with:
        version: ${{ matrix.proto }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: setup protoc-go
      run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
    - name: setup redis
      uses: supercharge/redis-github-action@1.5.0
      with:
        redis-version: ${{ matrix.redis }}
    - name: setup mongo
      uses: supercharge/mongodb-github-action@1.8.0
      with:
        mongodb-version: ${{ matrix.mongo }}
    - name: test
      run: go test -coverprofile=coverage.txt -covermode=atomic ./...
    - name: upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true